<h2><%= routine.title %></h2>
<h3>brought to you by: 
    <a href="/users/<%= routine.user.username %>">
        <%= routine.user.username %>
    </a>
</h3>
<% // only show edit link for owner %>
<% if(user && user.id === routine.userId) { %>
    <a href="/routines/edit/<%= routine.id %>">Edit details</a>
<% }%>
<p><%= routine.description %></p>

<% routine.exercises.forEach(exercise => { %>
    <h4><%= exercise.name %></h4>
    <p>Description: <%= exercise.description %></p>
    <p>Muscle group: <%= exercise.category %></p>
    <p>Equipment needed: <%= exercise.equipment %></p>
    <% // only show remove button for owner %>
    <% if(user && user.id === routine.userId) { %>
        <form action="/routines/<%= routine.id %>/exercises/?_method=DELETE" method="POST">
            <input type="hidden" name="exerciseId" value="<%= exercise.id %>">
            <button type="submit">Remove</button>
        </form>
    <% }%>
    <br>
<% }) %>