<div class="flex flex-col justify-center mx-2 max-w-full">
    <div class ="bg-white mt-3 border rounded-lg p-3 md:mx-auto md:w-6/12 max-w-full">
        <h2 class="inline text-xl font-bold"><%= routine.title %></h2>
        <h2 class="inline">
            by <a href="/users/<%= routine.user.username %>" class="hover:underline"><%= routine.user.username %></a>
        </h2>
        <p class="block text-sm text-gray-500 text-clip"><%= routine.description %></p>

        <% // only show Edit and Delete for owner %>
        <% if(user && user.id === routine.userId) { %>
            <a href="/routines/edit/<%= routine.id %>" class="hover:underline">Edit details</a>
            <form action="/routines/<%= routine.id %>/?_method=DELETE" method="POST" style="display: inline-block">
                <button type="submit" class="mt-1 px-2 py-1 bg-red-500 rounded text-white text-sm">Delete</button>
            </form>
        <% } %>

        <hr class="mt-4">

        <% routine.exercises.forEach(exercise => { %>
            <div class="mt-4">
                <h4 class="inline font-bold"><%= exercise.name %></h4>
                <p class="block text-sm text-gray-500 text-clip"><%= exercise.description %></p>
                <p>Muscle group: <%= exercise.category %></p>
                <p>Equipment needed: <%= exercise.equipment %></p>
                <% // only show remove button for owner %>
                <% if(user && user.id === routine.userId) { %>
                    <form action="/routines/<%= routine.id %>/exercises/<%= exercise.id %>/?_method=DELETE" method="POST">
                        <button type="submit" class="mt-1 px-2 py-1 bg-red-500 rounded text-white text-sm">Remove</button>
                    </form>
                <% }%>
            </div>
        <% }) %>
    </div>
</div>
