<div class="flex flex-col justify-center mx-2 max-w-full">
    <h2 class="text-2xl mt-2 md:mx-auto md:w-6/12 max-w-full px-2">List of exercises from wger Workout Manager:</h2>

    <form action="/exercises" method="GET">
        <div class="flex justify-center mt-2 mb-1 md:mx-auto md:w-6/12 max-w-full">
            <input type="search" name="q" class="w-full px-3 py-1.5 font-normal text-gray-700 bg-white border border-solid border-gray-300 rounded-l shadow-sm m-0 focus:text-gray-700 focus:border-blue-600 focus:outline-none" placeholder="Search" aria-label="Search">
            <button type="submit" class="px-6 py-2.5 bg-blue-500 text-white rounded-r shadow-sm">
                <svg aria-hidden="true" focusable="false" class="w-4" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
                </svg>
            </button>
        </div>
    </form>

    <% exercises.forEach(exercise => { %>
        <div class ="bg-white mt-1 border rounded-lg p-3 md:mx-auto md:w-6/12 max-w-full">
            <h3 class="inline text-xl font-bold"><%= exercise.name %></h3>
            <% let description = exercise.description %>
            <% // remove HTML elements from description key in API response.data.results (aka "exercises" variable) %>
            <% description = description.replaceAll("<p>", "").replaceAll("</p>", ""); %>
            <% description = description.replaceAll("<em>", "").replaceAll("</em>", ""); %>
            <% description = description.replaceAll("<li>", "").replaceAll("</li>", ""); %>
            <% description = description.replaceAll("<ul>", "").replaceAll("</ul>", ""); %>
            <% description = description.replaceAll("<ol>", "").replaceAll("</ol>", ""); %>
            <% description = description.replaceAll("<strong>", "").replaceAll("</strong>", ""); %>
            <p class="block text-sm text-gray-500 text-clip"><%= description %></p>
            <p>Muscle group: <%= exercise.category.name %></p>
            <p class="inline">Equipment: </p>
            <% let equipmentList = ""; %>
            <% exercise.equipment.forEach((equipment, index) => { %>
                <% if (index === 0) { %>
                    <p class="inline"><%= equipment.name %></p>
                    <% equipmentList += equipment.name; %>
                    <% } else { %>
                    <p class="inline">+ <%= equipment.name %></p>
                    <% equipmentList += `, ${equipment.name}`; %>
                <% } %>
            <% }) %>

            <hr class="mt-2 mb-1">

            <% // anon visitors can see this page, but only users can send POST requests %>
            <% if (user) { %>
                <form action="/exercises" method="POST">
                    <% //values needed to create a new exercise record %>
                    <input type="hidden" name="exerciseId" value="<%= exercise.id %>">
                    <input type="hidden" name="exerciseName" value="<%= exercise.name %>">
                    <input type="hidden" name="exerciseDesc" value="<%= description %>">
                    <input type="hidden" name="exerciseCategory" value="<%= exercise.category.name %>">
                    <input type="hidden" name="exerciseEquip" value="<%= equipmentList %>">
                    <div>
                        <label for="routine-id" class="text-sm">Choose a routine:</label>
                        <select id="routine-id" name="routineId" class="w-full p-1 text-sm text-gray-700 border border-solid border-gray-300 rounded shadow-sm focus:text-gray-700 focus:border-blue-600 focus:outline-none">
                            <% user.routines.forEach(routine => { %>
                                <option value="<%= routine.id %>"><%= routine.title %></option>
                            <% }) %>
                        </select>
                        <button type="submit" class="mt-1 px-2 py-1 bg-blue-500 rounded text-white text-sm">Add</button>
                    </div>
                </form>
            <% } %>
        </div>
    <% }) %>
    <div class ="flex justify-end gap-x-2 mt-1 mb-4 p-1 md:mx-auto md:w-6/12 max-w-full">
        <% if (!page) { %>
            <% // URLs without page numbers pass in a null page variable (no pagination for search page) %>
        <% } else if (page <= 1) { %>
            <a href="/exercises?page=<%= page + 1 %>" class="mt-1 px-2 py-1 bg-blue-500 rounded text-white text-sm">Next</a>
        <% } else { %>
            <a href="/exercises?page=<%= page - 1 %>" class="mt-1 px-2 py-1 bg-blue-500 rounded text-white text-sm">Previous</a>
            <a href="/exercises?page=<%= page + 1 %>" class="mt-1 px-2 py-1 bg-blue-500 rounded text-white text-sm">Next</a>
        <% } %>
    </div>
</div>
