<h2>List of exercises from wger Workout Manager:</h2>

<% exercises.forEach(exercise => { %>
    <h3><%= exercise.name %></h3>
    <% let description = exercise.description %>
    <!-- remove HTML elements from description key in API response.data.results (aka "exercises" variable) -->
    <% description = description.replaceAll("<p>", "").replaceAll("</p>", ""); %>
    <% description = description.replaceAll("<em>", "").replaceAll("</em>", ""); %>
    <% description = description.replaceAll("<li>", "").replaceAll("</li>", ""); %>
    <% description = description.replaceAll("<ul>", "").replaceAll("</ul>", ""); %>
    <% description = description.replaceAll("<ol>", "").replaceAll("</ol>", ""); %>
    <% description = description.replaceAll("<strong>", "").replaceAll("</strong>", ""); %>
    <p><%= description %></p>
    <p>Muscle group: <%= exercise.category.name %></p>
    <p>Equipment: </p>
    <% let equipmentList = ""; %>
    <ul>
        <% exercise.equipment.forEach((equipment, index) => { %>
            <li><%= equipment.name %></li>
            <% if (index === 0) { %>
                <% equipmentList += equipment.name; %>
            <% } else { %>
                <% equipmentList += `, ${equipment.name}`; %>
            <% } %>
        <% }) %>
    </ul>

    <!-- anon visitors can see this page, but only users can send POST requests -->
    <!-- To do: (reconsider) possible issue w/ excessive axios GET requests from anon visitors -->
    <% if (user) { %>
        <form action="/exercises" method="POST">
            <!-- values needed to create a new exercise record -->
            <input type="hidden" name="exerciseId" value="<%= exercise.id %>">
            <input type="hidden" name="exerciseName" value="<%= exercise.name %>">
            <input type="hidden" name="exerciseDesc" value="<%= description %>">
            <input type="hidden" name="exerciseCategory" value="<%= exercise.category.name %>">
            <input type="hidden" name="exerciseEquip" value="<%= equipmentList %>">
            
            <label for="routine-id">Choose a routine:</label>
            <select id="routine-id" name="routineId">
                <% user.routines.forEach(routine => { %>
                    <option value="<%= routine.id %>"><%= routine.title %></option>
                <% }) %>
            </select>
            <button type="submit">Add</button>
        </form>
    <% } %>

    <br>
<% }) %>