<h2>Welcome to <%= publicUser.username %>'s profile!</h2>

<% publicUser.routines.forEach(routine => { %>
    <h3><a href="/routines/<%= routine.id %>"><%= routine.title %> by <%= publicUser.username %></a></h3>
    <p><%= routine.description %></p>
<% }) %>